@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

html {
  scroll-behavior: smooth;
}

.admin__height {
  min-height: calc(100vh - 65px);
  overflow-y: hidden;
}

.project__container {
  overflow: hidden;
  cursor: pointer;
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  animation: spin linear 0.75s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (hover: none) {
  .project__detail_container {
    transform: translateY(0);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: transform 200ms ease-in-out;
  }
}

@media (hover: hover) {
  .project__detail_container {
    transform: translateY(100%) scaleY(0.5);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: transform 200ms ease-in-out;
  }

  .project__detail_container__text {
    transform: scale(0.9);
  }

  .project__container:hover > .project__detail_container {
    transform: translateY(0) scale(1);
  }

  .project__container:hover
    > .project__detail_container
    > .project__detail_container__text {
    animation: scale 0.45s ease-in 1 alternate-reverse;
  }

  @keyframes scale {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
